<ul class="nav flex-column leftnav">
    <li class="nav-item bg-light">
      <a class="nav-link active" href="#"><i class="fas fa-home mr-3"></i>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-folder mr-3"></i>Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-search mr-3"></i>RxSearch</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-chart-line mr-3"></i>Insight</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-user-friends mr-3"></i>Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-sitemap mr-3"></i>Organizations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" href="#"><i class="fas fa-cog mr-3"></i>Settings</a>
    </li>
  </ul>