<div style="z-index:5;position : fixed;display : flex;align-self : flex-end;bottom: 0px;margin-bottom : 18px;right:  0px;">
  <button mat-fab color="warn" style="margin-right : 20px; font-size: 30px;" data-toggle="modal" data-target="#exampleModalCenteradd">+</button>
</div>


<mat-form-field class="col p-3">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>



    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let row"> {{row.date}} </td>
    </ng-container>

    <!-- Alert Title Column -->
    <ng-container matColumnDef="alerttitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Alert Title </th>
      <td mat-cell *matCellDef="let row"> {{row.alerttitle}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" data-toggle="modal" data-target="#exampleModalCenter" style="cursor: pointer;">
    </tr>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Alert Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Date:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="07/17/2018 09:28 PM">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Title:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="new update">
          </div>
        </div>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-3 col-form-label">Description:</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="A New feature has been updated.">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modaladd" id="exampleModalCenteradd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Alerts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group form-group mx-sm-3 mb-2">
                <mat-form-field>
                  <input matInput placeholder="Date" class="" value="09/03/2018 10:17 PM">
                </mat-form-field>
              </div>
              <div class="form-group form-group mx-sm-3 mb-2">
                  <mat-form-field>
                    <input matInput placeholder="Title" class="" value="">
                  </mat-form-field>
                </div>
                <div class="form-group form-group mx-sm-3 mb-2">
                    <mat-form-field>
                      <input matInput placeholder="Description" class="" value="">
                    </mat-form-field>
                  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button><div class="col"></div>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
        </div>
      </div>
    </div>
  </div>