/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }

  html{
    overflow-x: hidden;
  }

  .mat-sort-header-container{
    font-weight: bold !important;
    font-size: 14px;
  }

  .modal-backdrop {
    z-index: 0;
  }